<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConexionSQLServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="cn" connectionString="Server=VEJAMARA; Database=master; User Id=sa; Password=SAPB1Admin1; integrated security=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <ConexionSQLServer.Properties.Settings>
      <setting name="VEJAMARA" serializeAs="String">
        <value />
      </setting>
    </ConexionSQLServer.Properties.Settings>
  </userSettings>
</configuration>